body {
  background-color: #121212;
  color: #ffffff;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.app {
  text-align: center;
  padding: 20px;
}

.movie-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 80px;
}

.movie {
  background-color: #1e1e1e;
  border: 1px solid #333;
  border-radius: 8px;
  margin: 10px;
  padding: 15px;
  width: 250px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s;
}

.movie:hover {
  transform: scale(1.05);
}

.movie img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.movie h2 {
  font-size: 1.2em;
  margin: 0.5em 0;
}

.movie p {
  margin: 0.5em 0;
  color: #bbb;
}

h1 {
  color: #ffcc00;
  margin-top: 50px;
  text-align: center;
}




.buttons {
  display: flex;
  justify-content: space-between;
}

.buttons button {
  background-color: #ffcc00;
  display: block;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 10px;
}

.buttons button .review-link {
  text-decoration: none; 
  color: inherit;
}


.buttons button:hover {
  background-color: #0056b3;
  color: #ffffff;
}

.buttons button img {
  width: 20px;
  height: auto;
  margin-right: 5px;
}

.button-container button img {
  width: 20px;
  height: auto;
  margin-right: 5px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #333;
  color: #fff;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  margin: 0 1rem;
}

.navbar a:hover {
  text-decoration: underline;
}


.comment {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  margin-left: 20px;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.comment-content {
  flex: 1;
}

.comment-author {
  font-weight: bold;
  margin-right: 10px;
}

.comment-text {
  margin: 0;
}

.movie-details {
  display: flex;
  justify-content: center;
  padding: 50px;
  width: 1000px;
}







.loginSignin-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
}

.loginSignin-form {
  width: 500px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.loginSignin-form h1 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 30px;
}

.form-group label {
  display: block;
  margin-bottom: 10px;
}

.form-group input {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.loginSignin-button {
  width: 30%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.loginSignin-button:hover {
  background-color: #0056b3;
}

.movie-d{
  padding-left: 80%;
}

.comments{
  margin: 20px;
  width: 500px;
}

.comments-input {
  width: calc(100% - 100px);
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-right: 10px;
}

.upload-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.upload-button:hover {
  background-color: #0056b3;
}